body {
  color: #798a9a;
  line-height: 1.7;
  font-size: 16px;
  font-weight: 300;
  font-family: "Roboto", sans-serif;
  background: rgb(14, 7, 27) !important;
}
.App {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

/* GENERAL */
h1,
h2,
h3,
h4,
h5 {
  color: #8f9cec;
  font-weight: 200;
}

a {
  -webkit-transition: 0.3s all;
  -o-transition: 0.3s all;
  transition: 0.3s all;
  color: #57d131;
}

a:hover,
a:focus,
a:active {
  color: #4ebe2a;
  text-decoration: none;
}

/* BackToTop component styles*/
.back-to-top {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  padding: 0.175rem 0.55rem;
  line-height: 1.1;
  border-radius: 0.25rem;
  border-color: transparent;
  outline: none;
  width: 40px;
  height: 40px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  cursor: pointer;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
  transition: background-color 0.3s, opacity 0.4s, visibility 0.4s;

  &.show-back-to-top {
    opacity: 1;
    visibility: visible;
  }
}

/* NAVBAR */

.parent-nav-link-padding,
.site-navbar .navbar-nav > li > a {
  padding: 15px 20px !important;
}

.site-navbar {
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 0px;
  margin-bottom: 0px;
  background: none;
  position: absolute;
  width: 100%;
  z-index: 200;
  background: #fff;
  transition: top 0.3s;
}
.hide {
  top: -40px;
}

.site-navbar.bg-light {
  background: transparent !important;
}
@media (max-width: 991.98px) {
  .site-navbar.bg-light {
    background: #8f9cec !important;
    top: 0;
  }
}
.site-navbar .navbar-nav > li > a {
  color: #8f9cec !important;
  font-size: 12px;
  font-weight: 300;
  letter-spacing: 0.1em;
  position: relative;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  font-family: "Lato", sans-serif;
}
@media (max-width: 991.98px) {
  .site-navbar .navbar-nav > li > a {
    color: #798a9a !important;
  }
}
.site-navbar .navbar-nav.active > a {
  color: #57d131 !important;
}

.nav-link > span:hover {
  cursor: pointer;
}

/* HERO */

.site-hero,
.site-hero .row {
  height: 100vh;
}

@media (min-width: 768px) {
  .site-hero h1 {
    font-size: 70px;
  }
}
.site-hero h1 {
  color: #ffffff;
  font-family: "Heebo", "Arial" !important;
  font-size: 36px;
  font-weight: 300;
  letter-spacing: -0.86px;
  line-height: 47px;
}

.site-hero .hero-subtitle {
  color: #9babff;
  font-family: "Open Sans", sans-serif !important;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0.45px;
  line-height: 25px;
}
.site-section {
  padding: 5em 0;
}
